.header {
    /* display: flex;
    justify-content: center; */
}

.first-line {
    background-color: #0500FF;
    text-align: center;
    font-family: 'Jost';
    padding: 5px;
    color: #fff;
    font-size: 14px;
}

.navbar-1 {
    display: flex;
    /* justify-content: center; */
    /* padding: 10px 200px 0px 200px; */
    /* padding: 10px 0px 10px 0px; */
    padding: 0px 150px 0px 150px;

}

.navbar-input-box {
    padding: 10px 320px 10px 10px;
    border-radius: 30px;
    background-color: #F0F2F5;
    border: none;
    font-family: "Jost";
    text-align: center;
}

.search-bar-class {
    margin: 10px 0px 0px 120px;
}

.english-usd {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 40px;
}

.english-text {
    color: #5B6C8F;
    font-family: "Jost";
    font-size: 14px;
    padding-left: 30px;
}

.english-usd-line {
    height: 30px;
    width: 1px;
    margin-left: 40px;
    background-color: #f0f2f5;
}

.lock-logo {
    display: flex;
    margin-left: 50px;
}

.heart-logo {
    display: flex;
    margin-left: 20px;

}

.lock-count {
    height: 18px;
    width: 18px;
    padding: 0px 0px 0px 4px;
    background-color: #0500FF;
    border-radius: 40px;
    line-height: 17px;
    color: #fff;
}

.nav-line {
    height: 1px;
    background-color: #F0F2F5;

}

.navbar-2 {
    display: flex;
    /* justify-content: center; */
    padding: 0px 150px 0px 150px;

}

.nav-category {
    display: flex;
    justify-content: space-between;
}

.nav-category-text {
    padding: 10px 25px 10px 25px;
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;

}

.active {
    background-color: #F0F2F5;
}

.nav-text {
    padding: 10px 0px 10px 245px;
    color: #103178;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;

}

.nav-text-sub {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 500;
}

/* Footer */


.footer-1-inner {
    display: flex;
    justify-content: center;
}

.inner-para {
    color: #103178;
    font-family: "Jost";
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.email-subscribe {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.email-input-sub {
    border-radius: 30px;
    background-color: #F0F2F5;
    color: #DDDDDD;
    border: none;
    font-family: "Jost";
    text-align: center;
    font-size: 12px;
    padding: 10px 160px 10px 10px;
}

.subscribe-button-sub {
    border-radius: 30px;
    background-color: #FD7E00;
    color: #FFF;
    border: none;
    font-family: "Jost";
    text-align: center;
    font-size: 14px;
    padding: 8px 30px 8px 30px;
}

.subscribe-button {
    padding-left: 10px;
}

.moneyback-fast-shipping {
    display: flex;
    /* justify-content: center; */
    padding-top: 20px;
    margin-left: 100px;
}

.money-back {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 120px 10px 120px;
    border-right: 1px solid #DDDDDD;
    background-color: #F0F2F5;
}

.free-shipping {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 80px 10px 80px;
    background-color: #F0F2F5;

}

.inkredible-address {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
}

.show-on-map {
    color: #103178;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    padding-top: 10px;

}

.footer-2 {
    display: flex;
    /* padding-left: 200px; */
    /* justify-content: center;  */
    padding-top: 50px;
    margin-left: 100px;
}

.need-help {
    color: #0500FF;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 600;
}

.need-help-number {
    color: #0500FF;
    font-family: "Jost";
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
}

.need-help-time {
    color: #103178;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
    /* padding-top: 10px; */
    padding-bottom: 15px;
}

.footer-2-sec2-line {
    height: 1.5px;
    width: 350px;
    background-color: #F0F2F5;
}

.footer-2-sec2 {
    padding-left: 30px;
}

.email-address {
    color: #0500FF;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 10px;
}

.information-sub {
    color: #103178;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.information-dub {
    color: #5B6C8F;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.account {
    padding-left: 40px;
}

.store {
    padding-left: 80px;
}

.footer-2-sec3 {
    display: flex;
    padding-left: 20px;
}

/* .footer-2-main{
    display: flex;
    justify-content: center;
} */

.footer-mainline {
    height: 1.5px;
    /* width: 0px; */
    background-color: #F0F2F5;
    margin-top: 70px;
}

.copy-right-sec {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.copy-right-text {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
}

.footer-logo {
    margin-right: 120px;
}

.lower-footer {
    margin-left: 100px;
}

.about-us-container {
    display: flex;
    position: relative;
    justify-content: center;


}

.about-us {
    padding: 20px 10px 0px 50px;
    background-color: #FAFAFA;

}

.about-us-text {
    color: #0C192C;
    font-family: "Jost";
    font-size: 28px;
    font-weight: 600;
    padding-top: 10px;
}

.about-us-para {
    color: #878A99;

    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}

.more-about-button {
    display: flex;
    padding-left: 10px;
    padding-top: 35px;

}

.more-about-button-sub {
    border-radius: 30px;
    background-color: #FD7E00;
    color: #FFF;
    border: none;
    font-family: "Jost";
    text-align: center;
    font-size: 14px;
    padding: 8px 50px 8px 50px;
    position: relative;
}

.about-us-logo {
    /* width: 350px; */
    height: 370px;
    /* margin-left: 250px; */
    padding-left: 120px;
    margin-top: -100px;
    position: absolute;
    margin-left: 250px;
}

/* lorem-ipsum-main-container */
.lorem-ipsum-sub-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.lorem-ipsum-main-container {
    background-image: url(./images/slide1.png.svg);
    height: 600px;
    /* object-fit: cover; */
    background-position: right;
    background-repeat: no-repeat;
    padding: 140px 150px 0px 150px;
    position: relative;
    margin-bottom: 200px;
}

.lorem-ipsum-text-main {
    display: flex;
}

.lorem-ipsum-text {
    font-family: "Jost";
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.thirty-percent {
    /* padding: 10px 10px -20px 10px; */
    height: 80px;
    width: 80px;
    border-radius: 80px;
    padding: 20px 10px 0px 15px;
    margin-top: 20px;
    margin-left: 200px;
    background-color: #FD7E00;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    font-family: "Jost";
    text-align: center;

}

.lorem-ipsum-smalltext {
    font-family: "Jost";
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.lorem-ipsum-prices {
    display: flex;
}

.lorem-ipsum-ninteen-doler {
    font-family: "Jost";
    font-size: 60px;
    font-weight: 700;
    color: #FD7E00;
}

.lorem-ipsum-thirtynine-doler {
    font-family: "Jost";
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 20px;
    text-decoration: line-through;

}

.shop-now {
    padding-top: 10px;

}

.ink-toner-container {
    background-color: #F0F5F7;
    margin-top: 40px;
    /* display: flex; */
    /* position: absolute; */
}

.ink-tonerfiner {
    padding: 30px 0px 30px 20px;
}

.ink-tonerfiner-text {
    color: #103178;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 900;
    border-right: 1px solid #ece7e7;
}

.ink-tonerfiner-para {
    color: #103178;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
    border-right: 1px solid #ece7e7;

}

/* .ink-tonerfiner-line{
    background-color: #ece7e7;
    width: 60px;
    height: 1px;
    display: flex;
    transform: rotate(90deg);
    margin-top: 60px;
    margin-right: 20px;
} */

.step1-section-input {
    padding: 5px;
    margin-top: 5px;
    background-color: #FFFFFF !important;
    color: #848484;
    font-family: "Jost";
    font-size: 14px;
}

.step1-section {
    padding: 25px 0px 30px 0px;

}

.step1-section-text {
    color: #103178;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 900;
}

.col-3 {
    padding: 0px 0px 0px 10px !important;
}

.ink-tonor-sub {
    /* display: flex; */
    /* justify-content: center; */
    /* margin-right: 130px; */
}

.ink-toner-maincontainer {
    /* display: flex;
    justify-content: center; */
}

/* lorem-ipsum-banner */
.lorem-ipsum-banner {
    padding: 10px 150px 10px 150px;
}

.lorem-ipsum-first-banner {
    background-image: url(./images/bg-banner1.jpg.svg);
    background-repeat: no-repeat;
    /* display: flex; */
    padding: 60px 0px 60px 30px;
    border-radius: 5px;
    /* background-image: linear-gradient(rgba(255, 255, 255, 1)); */
}

.lorem-ipsum-newbutton {
    /* display: flex; */
    background-color: #FD7E00;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    color: #fff;
    font-family: "Jost";
    font-size: 12px;
    font-weight: 400;
    border: none;
}

.first-banner-text {
    color: #103178;
    font-family: "Jost";
    /* display: flex; */
    font-size: 25px;
    font-weight: 700;
}

.first-button-morebutton {
    background-color: #0500FF;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    color: #fff;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
    border: none;
    margin-top: 10px;
}

.lorem-ipsum-second-banner {
    background-image: url(./images/bg-banner2.jpg.svg);
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 45px 0px 40px 30px;


}

.ten-percenrage{
    color: #FD7E00;
    font-family: "Jost";
    font-size: 40px;
    font-weight: 600;
}

.lorem-ipsum-third-banner {
    background-image: url(./images/bg-banner3.jpg.svg);
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 50px 0px 40px 30px;
}

.one-twenty-nine{
    color:#103178 ;
    font-family: "Jost";
    /* display: flex; */
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
}

/* shop-by-brand-container */

.shop-by-brand-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px 30px 0px;
}

.shop-by-brand-text{
    color:#103178 ;
    font-family: "Jost";
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    /* display: flex; */
}

.shop-by-brand-para{
    color:#103178 ;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    /* display: flex; */
}