*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media (min-width: 1420px) {
    .container-main {
        /* max-width: 1320px; */    
        max-width: min(1420px, 100vw);
    
    }
}

.container-main{
    position: relative;
    /* left: 60%;
    transform: translateX(-52%); */
    display: flex;
    justify-content: center;
    font-family: "Jost";
}

.prod-bannerimg
{
    position: relative;
}

.prod-bannertxt
{
    width: 24%;
    position: absolute;
    top: 6%;
    left: 3%;
    color: white;
    font-family: 'Jost', sans-serif;
}

.prod-bannertxt button
{
    padding: 8px 45px;
    background: #FD7E00;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    border: none;
}

.filter-flex
{
 display: flex;
 justify-content: space-between;
 width: 1240px;
 margin-top: 40px;
}

.filter-flex .search
{
    height: 47px;
    width: 300px;
    border: 1px solid#DDDDDD80;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    margin-right: 20px;
}

.filter-flex .drop-down
{
    height: 47px;
    width: 180px;
    border: 1px solid #DDDDDD80;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}

.filter-flex .select
{
    height: 47px;
    width: 150px;
    border: 1px solid #DDDDDD80;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}

.product-buttonflex
{
    display: flex;
    margin-top: 30px;
    margin-right: 200px;
}

.product-button1
{
    margin-right: 30px;
}

.product-sectionflex
{
 display: flex;
}

.product-sectionfilter
{
    height: 400px;
    width: 20%;
    background-color: blueviolet;
}

.product-sectioncard
{
    /* height: 400px; */
    padding-top: 40px;
    padding-left: 360px;
    display: flex;
    /* width: 90%; */
    /* background-color: yellowgreen; */
}

.productcard 
{
   position: relative;
   margin-right: 20px;
}

.card-img
{
    
}

.card-txt
{
    color: #222222;
    margin-top: 35px;
}

.card-txt .price p
{
   font-size: 14px;
   letter-spacing: 1px;
   font-weight: 600;
   font-family: 'Inter', sans-serif;
   margin-right: 5px;
   margin-top: -2px;
}

.card-txt .star
{
    margin-right: 5px;
    margin-top: -5px;
}

.card-txt .star p
{
    color: #262834;
    font-size: 10px;
    font-weight: 400;
    padding: 6px 6px;
}

.card-txt button
{
    padding: 6px 40px;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 600;
    border: 1px solid #222222;
    letter-spacing: 1px;
    background: #ffff;
}

.card-txt  .popbox button
{
    padding: 7px 12px;
    background: #FD7E00;
    color: white;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 10px;
}



