*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

/* @media (min-width: 1420px) {
    .container-main {
       
        max-width: min(1720px, 100vw);
    
    }
}



.container-main{
    position: relative;
   
    display: flex;
    justify-content: center;
    font-family: "Jost";
} */


@media (min-width: 1200px) {
    .container{
        max-width: 1270px;
    }
}


/* body {
    overflow-x: hidden;

} */

.header {
    /* display: flex;
    justify-content: center; */
}

.first-line {
    background-color: #0500FF;
    text-align: center;
    font-family: 'Jost';
    padding: 5px;
    color: #fff;
    font-size: 14px;
}

.navbar-1 {
    display: flex;
    /* justify-content: center; */
    /* padding: 10px 200px 0px 200px; */
    /* padding: 10px 0px 10px 0px; */
    padding: 0px 220px;

}

.navbar-input-box {
    padding: 10px 320px 10px 10px;
    border-radius: 30px;
    background-color: #F0F2F5;
    border: none;
    font-family: "Jost";
    text-align: center;
}

.search-bar-class {
    margin: 10px 0px 0px 120px;
}

.english-usd {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 40px;
}

.english-text {
    color: #5B6C8F;
    font-family: "Jost";
    font-size: 14px;
    padding-left: 30px;
}

.english-usd-line {
    height: 30px;
    width: 1px;
    margin-left: 40px;
    background-color: #f0f2f5;
}

.lock-logo {
    display: flex;
    margin-left: 50px;
}

.heart-logo {
    display: flex;
    margin-left: 20px;

}

.lock-count {
    height: 18px;
    width: 18px;
    /* padding: 0px 0px 0px 4px; */
    text-align: center;
    background-color: #0500FF;
    border-radius: 40px;
    line-height: 15px;
    color: #fff;
}

.nav-line {
    height: 1px;
    background-color: #F0F2F5;

}

.navbar-2 {
    display: flex;
    /* justify-content: center; */
    padding: 0px 220px;

}

.nav-category {
    display: flex;
    /* justify-content: space-between; */
}

.nav-category-text {
    padding: 10px 25px 10px 25px;
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;

}

.active {
    background-color: #F0F2F5;
}

.nav-text {
    padding: 0px 290px;
    color: #103178;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;

}

.nav-text-sub {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 500;
}

.about-banner {
    /* display: flex;
    justify-content: center; */
    margin-bottom: 90px;
}

.product-head-banner {
    height: 350px;
    background-image: url(Images/Rectangle\ 18.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed;
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
}

.product-head-shop {
    height: 120px;
    width: 220px;
    background: #FFFFFFB2;
    border-radius: 15px;
    margin-top: 190px;
    margin-right: 350px;
    padding: 20px 20px 20px 30px;

}


.head-banner-img {
    margin-top: 110px;
}

.product-head-shop-text {
    font-size: 30px;
    font-weight: 600;
    color: #262834;
    font-family: 'Montserrat', sans-serif;
}

.home-about {
    display: flex;
    /* padding-top: 10px; */
}

.home-text {
    font-size: 16px;
    font-weight: 400;
    color: #262834;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
}

.about-text {
    font-size: 16px;
    font-weight: 400;
    color: #0F8FAC;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

/* Footer */


.footer-1-inner {
    display: flex;
    justify-content: center;
}

.inner-para {
    color: #103178;
    font-family: "Jost";
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.email-subscribe {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.email-input-sub {
    border-radius: 30px;
    background-color: #F0F2F5;
    color: #DDDDDD;
    border: none;
    font-family: "Jost";
    text-align: center;
    font-size: 12px;
    padding: 10px 160px 10px 10px;
}

.subscribe-button-sub {
    border-radius: 30px;
    background-color: #FD7E00;
    color: #FFF;
    border: none;
    font-family: "Jost";
    text-align: center;
    font-size: 14px;
    padding: 8px 30px 8px 30px;
}

.subscribe-button {
    padding-left: 10px;
}

.moneyback-fast-shipping {
    display: flex;
    /* justify-content: center; */
    padding-top: 20px;
    margin-left: 100px;
}

.money-back {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 120px 10px 120px;
    border-right: 1px solid #DDDDDD;
    background-color: #F0F2F5;
}

.free-shipping {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 80px 10px 80px;
    background-color: #F0F2F5;

}

.inkredible-address {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
}

.show-on-map {
    color: #103178;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    padding-top: 10px;

}

.footer-2 {
    display: flex;
    /* padding-left: 200px; */
    /* justify-content: center;  */
    padding-top: 50px;
    margin-left: 100px;
}

.need-help {
    color: #0500FF;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 600;
}

.need-help-number {
    color: #0500FF;
    font-family: "Jost";
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
}

.need-help-time {
    color: #103178;
    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
    /* padding-top: 10px; */
    padding-bottom: 15px;
}

.footer-2-sec2-line {
    height: 1.5px;
    width: 350px;
    background-color: #F0F2F5;
}

.footer-2-sec2 {
    padding-left: 30px;
}

.email-address {
    color: #0500FF;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 10px;
}

.information-sub {
    color: #103178;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.information-dub {
    color: #5B6C8F;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.account {
    padding-left: 40px;
}

.store {
    padding-left: 80px;
}

.footer-2-sec3 {
    display: flex;
    padding-left: 20px;
}

/* .footer-2-main{
    display: flex;
    justify-content: center;
} */

.footer-mainline {
    height: 1.5px;
    /* width: 0px; */
    background-color: #F0F2F5;
    margin-top: 70px;
}

.copy-right-sec {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.copy-right-text {
    color: #103178;
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
}

.footer-logo {
    margin-right: 120px;
}

.lower-footer {
    margin-left: 100px;
}

/* .product-head-banner
{
    height: 350px;
    background-image: url(Images/Rectangle\ 18\ \(1\).svg);
    background-repeat: no-repeat; 
    background-size: 100% 100%  ;
    /* background-attachment: fixed;
    /* width: 100%; 
       
}

.product-head-shop
{
    height: 120px;
    width: 220px;
    background: #FFFFFFB2;
    border-radius: 15px;
}

.product-head-shop p
{
    font-size: 30px;
    font-weight: 600;
    color: #262834;
    font-family: 'Montserrat', sans-serif;
} */

.prod-bannerimg
{
    position: relative;
}

.prod-bannertxt
{
    width: 24%;
    position: absolute;
    top: 6%;
    left: 3%;
    color: white;
    font-family: 'Jost', sans-serif;
}

.prod-bannertxt button
{
    padding: 8px 45px;
    background: #FD7E00;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    border: none;
}

.filter-flex
{
 display: flex;
 justify-content: space-between;
 width: 1240px;
 margin-top: 40px;
}

.filter-flex .search
{
    height: 47px;
    width: 300px;
    border: 1px solid#DDDDDD80;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    margin-right: 20px;
}

.filter-flex .drop-down
{
    height: 47px;
    width: 180px;
    border: 1px solid #DDDDDD80;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}

.filter-flex .select
{
    height: 47px;
    width: 150px;
    border: 1px solid #DDDDDD80;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}

.product-buttonflex
{
    display: flex;
    margin-top: 30px;
    margin-right: 200px;
}

.product-button1
{
    margin-right: 30px;
}

.product-sectionflex
{
 display: flex;
}

.product-sectionfilter
{
    /* height: 400px; */
    /* width: 20%; */
    /* background-color: blueviolet; */
    padding: 50px 0px;
}

.product-appliedfilter
{
    height: 150px;
    width: 300px;
    border: 1px solid #DDDDDD80;
    border-radius: 9px;
    padding: 16px 14px;

}

.product-appliedfilter h1
{
  font-size: 19px;
  font-family: "Jost";
  font-weight: 500;
  color: #262834;
  margin-bottom: 20px;
}

.filter-buttons
{
   margin-right: 7px;
   margin-bottom: 10px;
}

.filter-buttons button
{
    padding: 4px 14px;
    border: 1px solid #DDDDDD66;
    background: white;
    color: #767676;
    border-radius: 20px;
    font-size: 12px;
    font-family: "Jost";
    font-weight: 500;
}

.product-filter2
{
    /* height: 450px;    */
    width: 300px;
    border: 1px solid #DDDDDD80;
    border-radius: 9px;
    padding: 16px 14px;

}

.product-filter2 h1
{
  font-size: 19px;
  font-family: "Jost";
  font-weight: 500;
  color: #262834;
  margin-bottom: 20px;
}

.product-dollar
{
   margin-right: 10px;
}


.product-dollar p
{
    font-size: 14px;
    font-weight: 400;
    font-family: "Jost";
    color: #262834  ;
    padding: 3px 0px;

}

.product-button-price button
{
    padding: 3px 12px;
    border: 1px solid #DDDDDD66;
    background: white;
    color: #767676;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Jost";
    font-weight: 500;
    color: #FD7E00;
}

.dash
{
    font-size: 18px;
    font-family: "Jost";
    color: #262834;
    font-weight: 400;
}

.product-filter-brand p
{
    color: #767676;
    font-size: 16 px;
    font-family: "Jost";
    font-weight: 500;
}

.sub-box p
{
    font-size: 15px;
    font-family: "Jost";
    color: #262834;
    font-weight: 400;
}

.sub-box-nums
{
    font-size: 13px;
    font-family: "Jost";
    color: #FD7E00;
    font-weight: 400;
    padding-top: 2px;
}

.product-checkbox
{
    display: flex;
    justify-content: space-between;
}

.product-categories
{
     /* height: 450px;    */
     width: 300px;
     border: 1px solid #DDDDDD80;
     border-radius: 9px;
     padding: 16px 14px; 
     margin-top: 20px;
}

.product-sub-category
{
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
    color: #767676;
    border-radius: 8px;
    padding:0px 10px;
    /* line-height: 10px; */
    margin: 20px 0px;

}

.product-categories h1
{
    font-size: 19px;
  font-family: "Jost";
  font-weight: 500;
  color: #262834;
  margin-bottom: 20px;
}

.product-popular
{
     /* height: 450px;    */
     width: 300px;
     border: 1px solid #DDDDDD80;
     border-radius: 9px;
     padding: 16px 14px; 
     margin-top: 20px;
}

.product-popular h1
{
    font-size: 19px;
  font-family: "Jost";
  font-weight: 500;
  color: #262834;
  margin-bottom: 20px;
}

.popular-flex-text p
{
    font-size: 14px;
  font-family: "Jost";
  font-weight: 400;
  color: #767676;
  margin-bottom: 7px;
}

.popular-flex-text h4
{
    font-size: 16px;
  font-family: "Jost";
  font-weight: 400;
  color: #262834;
  margin-bottom: 5px;
}

.popular-flex-text span
{
    font-size: 14px;
  font-family: "Jost";
  font-weight: 500;
  color: #262834;
}

.product-offer 
{
    font-family: "Jost";
   
}

.product-offer-sale
{
    /* height: 175px; */
    width: 220px;
    background: rgba(253, 251, 251, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px 0px   ;
}

.product-offer h1
{
    font-size: 19px;
  font-family: "Jost";
  font-weight: 500;
  color: #262834;
  margin-bottom: 20px;
}

.offer-price
{
    font-family:'Montserrat';
    color: #FD7E00;
    display: flex;
    font-weight: bolder;
    padding: 0px 45px;
}

.product-offer button
{
    padding: 4px 55px;
    background: #FD7E00;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    border: none;
}


.product-sectioncard
{
    /* height: 400px; */
    padding-top: 40px;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    /* width: 90%; */
    /* background-color: yellowgreen; */
}

.productcard 
{
   position: relative;
   margin-right: 19px;
   margin-bottom: 30px;
}

.card-img
{
    
}

.card-txt
{
    color: #222222;
    margin-top: 35px;
}

.card-txt .price p
{
   font-size: 14px;
   letter-spacing: 1px;
   font-weight: 600;
   font-family: 'Jost', sans-serif;
   margin-right: 5px;
   margin-top: -2px;
}

.card-txt .star
{
    margin-right: 5px;
    margin-top: -5px;
}

.card-txt .star p
{
    color: #262834;
    font-size: 10px;
    font-weight: 400;
    padding: 6px 6px;
}

.card-txt button
{
    padding: 6px 40px;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 600;
    border: 1px solid #222222;
    letter-spacing: 1px;
    background: #ffff;
}

.card-txt  .popbox button
{
    padding: 7px 12px;
    background: #FD7E00;
    color: white;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 10px;
}

.star
{
  margin-right: 4px;
}

.star p
{
  margin: 4px 7px;
  font-size: 14px;
  color: #262834;
  font-family: 'Jost', sans-serif;
}

.product-numberflex
{
   display: flex;
   justify-content: center;
   /* width: 100%; */
}

.productnumbers button
{
    padding: 4px 11px;
    border: 1px solid #DDDDDD80;
    border-radius: 4px;
    background: white;
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    color: #262834; 
    font-weight: 400;
    margin-right: 4px;
}

/* Product Listing page Complete  */


/* Product Detail page Starts  */

.productdetail-head-banner {
    /* height: 350px; */
    background-image: url(Images/Rectangle\ 18.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed;
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
}

.product-listing-section .small-img
{
    height: 95px;
    width: 105px;
    background: #F6F6F6;
    border-radius: 15px;
    position: relative;
    margin-right: 17px;
    margin-top: 15px;
}

.small-img img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.small-img-arrow
{
  position: absolute;
  top: 50%;
  left: -10px;
  z-index: 1;
  transform: translateY(-20%);
  
}

.small-img-arrow1 
{
  position: absolute;
  top: 51%;
  right: 10px; 
  transform: translateY(-20%);
  
}

.product-section-text
{
     font-family: 'Jost', sans-serif;
}

.product-section-text h3
{
    font-size: 27px;
    color: #262834;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

.product-section-text span
{
    font-size: 15px;
    color: #767676;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    
}

.product-section-text .circle-img
{
    margin-right: 10px;
}

.size-text
{
    font-size: 12px;
    color: #27251F;
    /* font-weight: 400; */
    display: flex;
    justify-content: space-between;
    /* width: 40%; */
    margin-top: 5px;
}

.size-in
{
    height: 45px;
    width: 62px;
    border: 1px solid #D0D1D2;
    line-height: 4px;
    padding-top: 10px;
    margin: 10px 0px;
    margin-right: 15px;
   
}

.size-in p
{
    color: #27251F;
    font-size: 12px;
    text-align: center;
    /* line-height: 18%; */
}

.quatity-button
{
    height: 35px;
    width: 133px;
    border: 1px solid #DDDDDD66;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    padding: 2px 0px;
}

.text-button1 button
{
    padding: 8px 85px;
    border-radius: 50px;
    background: #FD7E00;
    border: none;
    color: #ffff;
    font-size: 14px;
    margin-right: 16px;
}

.product-detail-description
{
    font-family: 'Jost', sans-serif;
    color: #767676;
    font-size: 15px;
}

.description-button button
{
    padding: 7px 20px;
    color: #FD7E00;
    background: #f8ebdc;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.description-button span
{
    height: 16px;
    width: 16px;
    background: #FD7E00;
    color: white;
    border-radius: 50%;
    padding: 0px 6px;
    padding-bottom: 1px;
}


/* <!-- product-detail 2 page--> */

.review-popup-para {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #767676;
}

.review-text {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Jost';
    color: #222222;
}

.rating-review-main-container {
    display: flex;
}

.rating-text {}

.rating-text1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Jost';
    color: #222222;
}

.rating-text2 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #9B9B9B;
    margin-top: -10px;
}

.star-first-line1 {
    display: flex;
    margin-left: 40px;
}

.star-first-line2 {
    display: flex;
    margin-left: 55px;
}

.stars1 {
    display: flex;
}

.star-line1 {
    height: 8px;
    background-color: #DB3022;
    border-radius: 10px;
    width: 110px;
    /* margin-left: 5px;
    margin-top: 1px; */
    margin: 5px 0px 0px 5px;
}

.star-line2 {
    height: 8px;
    background-color: #DB3022;
    border-radius: 10px;
    width: 50px;
    margin: 5px 0px 0px 5px;
}

.stars-img {
    margin-right: 3px;
}

.stars-text1 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #4F4F4F;
    margin: -1px 0px 0px 15px;
}

.stars-text2 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #4F4F4F;
    margin: -1px 0px 0px 80px;
}

.stars-text3 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #4F4F4F;
    margin: -1px 0px 0px 100px;
}

.star-line3 {
    height: 8px;
    background-color: #DB3022;
    border-radius: 10px;
    width: 30px;
    margin: 5px 0px 0px 5px;
}

.star-first-line3 {
    display: flex;
    margin-left: 70px;
}

.stars-text4 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #4F4F4F;
    margin: -1px 0px 0px 115px;
}

.star-line4 {
    height: 8px;
    background-color: #DB3022;
    border-radius: 10px;
    width: 15px;
    margin: 5px 0px 0px 5px;
}

.star-first-line4 {
    display: flex;
    margin-left: 85px;
}

.stars-text5 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #4F4F4F;
    margin: -1px 0px 0px 121px;
}

.star-line5 {
    height: 8px;
    background-color: #DB3022;
    border-radius: 10px;
    width: 8px;
    margin: 5px 0px 0px 5px;
}

.star-first-line5 {
    display: flex;
    margin-left: 100px;
}


.num-review {
    display: flex;
    /* justify-content: space-between; */
}

.num-review-text1 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Jost';
    color: #222222;
}

.num-review-text2 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #222222;
    margin-top: 5px;
    margin-left: 5px;
}

.chec-text {
    display: flex;
    margin-top: 5px;
    margin-left: 135px;
}

.review-container {
    position: relative;
    margin-top: 30px !important;
    padding: 30px 20px 30px 20px !important;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    /* filter: drop-shadow(0px 10px 4px #0000000D); */
    box-shadow: 5px 5px 5px 5px #0000000D;
    /* margin-left: 10px; */

}

.mg-right {
    margin-right: 40px !important;
    /* margin-bottom: 20px !important; */
}

.review-img1 {
    border-radius: 50px !important;
    position: absolute;
    left: -5px;
    top: -20px;
}

.review-text3 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Jost';
    color: #222222;
}

.review-star-container {
    display: flex;
    justify-content: space-between;
}

.review-text4 {
    font-size: 11px;
    font-weight: 400;
    font-family: 'Jost';
    color: #9B9B9B;
}

.review-para {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #222222;
}

.review-img2 {
    margin-top: -10px;
    margin-left: 10px;
}

.review-card {
    display: flex;
    margin-bottom: 20px;
}

.review-card-img {
    margin-right: 10px;
    border-radius: 10px;
    max-width: 90px;

}

.rating-container {
    margin-top: 50px;
}

.rating-text3 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #000000;
    margin-top: 10px;
}

.big-stars-img {
    margin-right: 15px;
    margin-top: 20px;
}

.ranting-input {
    /* padding: 50px 410px; */
    border: none;
    /* text-align:center; */
    box-shadow: 2px 2px 2px 2px #0000000D;
    border-radius: 5px;
    height: 150px;
    width: 82%;
    padding-left: 10px;
    padding-bottom: 115px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #9B9B9B;
}

.add-photo-logo {
    background-color: #FD7E00;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.add-photo {
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #0000000D;
    margin-top: 30px;
    width: 140px;
    border-radius: 10px;

}

.add-photo-img {
    margin: 10px 3px 0px 12px;
}

.send-reveiw-button {
    background-color: #FD7E00;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    border: none;
    padding: 10px 100px 10px 100px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #0000000D;


}


